.primo {
    margin: 0 0 2rem;
}

.row {
    min-height: auto;
    border: 1px solid white;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    rgb(0, 94, 255) */
}

.row-green {
    background-color: rgb(0, 255, 102);
    border: 1px solid white;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nested {
    background-color: rgb(84, 100, 128);
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

[class*=col] {
    background-color: rgb(0, 94, 255);
    border: 1px solid white;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*=col-green] {
    background-color: rgb(0, 255, 102);
    border: 1px solid white;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nested-col {
    background-color: rgb(0, 255, 81);
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}